html {
  height: 100%;
  width: 100%;
}
body{
  background-color:#b1dcd0;
  font-family: "Lucida Console", "Courier New", monospace;
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60pt;
}
#cits{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #4e4e4e;
}
.pirma{
  background-color: #47a97b;
  font-size: 50px;
  border: 10px;
}
.otra{
  background-color: #a97b47;
}
.tresa{
  background-color: #5b77e6;
}

#canva{
  width: 500px;
  height: 400px;
  background-color: purple;

}
#zimejums{
  background-color: white;
  border: 3px solid black;;
}

#tabula{
  background-color: green;
  padding: 20px;
  border-radius: 30px;
}
.kājene{
  background-color: #2a441d;
  color: #b1dcd0;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}
.navigacija{
  
    list-style-type: none;
    margin: 0;
    padding: 0;
  color: #2a441d;
}
.linija{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  display: block;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
font-weight: bold;
 
}
.nosaukums{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  display: block;
  padding: 20px;
  font-size: 30px;
  font-style: italic;
  text-transform: uppercase;
  
}
a{
  text-decoration: none;
  color: #2a441d;
}
marquee{
  font-size: 30px;
  color: #2a441d;
}
h3{
  font-size: 20px;
  color: #2a441d;
  text-transform: uppercase;
  text-align: center;
}
.sadalas{
  background-color: #b85342;
  padding: 50px;
  border-radius: 30px;
  margin: 30px;
}